*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0b0f1a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
}

.leaderboard{
width:420px;
}

.card{
display:flex;
align-items:center;
gap:20px;
padding:18px 25px;
border-radius:40px;
margin-bottom:18px;

background:rgba(255,255,255,0.05);
backdrop-filter:blur(20px);

box-shadow:0 10px 40px rgba(0,0,0,0.5);
}

.card.active{
background:linear-gradient(90deg,#1e3cff,#5aa9ff);
box-shadow:0 0 40px rgba(80,120,255,0.6);
}

.card img{
width:60px;
height:60px;
border-radius:50%;
}

.info h3{
margin:0;
color:white;
}

.info span{
opacity:0.6;
font-size:14px;
}

.money{
margin-left:auto;
color:#8effb5;
font-weight:bold;
font-size:20px;
}
